In [5]:
import numpy as np
import pandas as pd

def function(faceList):
    utility = 0
    for x in range(len(faceList)):
        utility = mathfunc(faceList[x], x+1, utility)
    return utility

def mathfunc(face, turn, val):
    if face == 'H':
        return turn*val + turn
    else:
        return turn*val - turn
    
df = pd.DataFrame(columns=['Round 1','Round 2','Round 3','Round 4','Round 5','Round 6', 'Utility'])

flips = 6

def recurseRounds(flips, currSetup, roundNumber):
    roundNum = roundNumber
    thisList = currSetup.copy()
    thisList.append('H')
    if flips == 1:
        thisList.append(function(thisList))
        df.loc[len(df)] = thisList
        roundNum += 1
    else:
        roundNum = recurseRounds(flips-1, thisList, roundNum)
    
    otherList = currSetup.copy()
    otherList.append('T')
    if flips == 1:
        otherList.append(function(otherList))
        df.loc[len(df)] = otherList
        roundNum += 1    
    else:
        roundNum = recurseRounds(flips-1, otherList, roundNum)
    return roundNum
        
recurseRounds(flips, [], 1)
df

   Round 1 Round 2 Round 3 Round 4 Round 5 Round 6  Utility
0        H       H       H       H       H       H     1956
1        H       H       H       H       H       T     1944
2        H       H       H       H       T       H     1896
3        H       H       H       H       T       T     1884
4        H       H       H       T       H       H     1716
..     ...     ...     ...     ...     ...     ...      ...
59       T       T       T       H       T       T    -1716
60       T       T       T       T       H       H    -1884
61       T       T       T       T       H       T    -1896
62       T       T       T       T       T       H    -1944
63       T       T       T       T       T       T    -1956

[64 rows x 7 columns]

In [6]:
sum = df['Utility'].sum()
sum

0

In [7]:
df.to_csv('data.csv')

In [12]:
import random
# Simulating a bunch of trials for the experiment

simulationData = pd.DataFrame(columns=['Trial #', 'Round 1','Round 2','Round 3','Round 4','Round 5','Round 6', 'Utility'])
for trial in range(64):
    trialData = [trial+1]
    for round in range(flips):
        trialData.append(random.choice(['H', 'T']))
    trialData.append(function(trialData[1:]))
    simulationData.loc[len(simulationData)] = trialData

In [13]:
simulationData

    Trial # Round 1 Round 2 Round 3 Round 4 Round 5 Round 6  Utility
0         1       T       H       T       H       H       T     -216
1         2       H       T       T       H       T       T     -276
2         3       T       H       T       H       T       T     -276
3         4       T       H       H       H       H       H      516
4         5       H       H       H       T       T       T     1644
..      ...     ...     ...     ...     ...     ...     ...      ...
59       60       T       T       T       T       H       H    -1884
60       61       H       H       H       T       T       T     1644
61       62       H       H       T       T       T       T      924
62       63       T       H       H       H       T       T      444
63       64       T       T       T       T       T       T    -1956

[64 rows x 8 columns]