In [35]:
import numpy as np
import pandas as pd

def function(faceList):
    utility = 0
    for x in range(len(faceList)):
        utility = mathfunc(faceList[x], x+1, utility)
    return utility

def mathfunc(face, turn, val):
    if face == 'H':
        return turn*val + turn
    else:
        return turn*val - turn
    
df = pd.DataFrame(columns=['Round 1','Round 2','Round 3','Round 4','Round 5','Round 6', 'Utility'])

flips = 6

def recurseRounds(flips, currSetup, roundNumber):
    roundNum = roundNumber
    thisList = currSetup.copy()
    thisList.append('H')
    if flips == 1:
        thisList.append(function(thisList))
        df.loc[len(df)] = thisList
        roundNum += 1
    else:
        roundNum = recurseRounds(flips-1, thisList, roundNum)
    
    otherList = currSetup.copy()
    otherList.append('T')
    if flips == 1:
        otherList.append(function(otherList))
        df.loc[len(df)] = otherList
        roundNum += 1    
    else:
        roundNum = recurseRounds(flips-1, otherList, roundNum)
    return roundNum
        
recurseRounds(flips, [], 1)
df

   Round 1 Round 2 Round 3 Round 4 Round 5 Round 6  Utility
0        H       H       H       H       H       H     1956
1        H       H       H       H       H       T     1944
2        H       H       H       H       T       H     1896
3        H       H       H       H       T       T     1884
4        H       H       H       T       H       H     1716
..     ...     ...     ...     ...     ...     ...      ...
59       T       T       T       H       T       T    -1716
60       T       T       T       T       H       H    -1884
61       T       T       T       T       H       T    -1896
62       T       T       T       T       T       H    -1944
63       T       T       T       T       T       T    -1956

[64 rows x 7 columns]

In [38]:
sum = df['Utility'].sum()
sum

0

In [40]:
df.to_csv('data.csv')